@use "./fonts";
@use "./sanitize";

:root {
	--black: hsl(0, 0%, 8%);
	--dark-grey: hsl(0, 0%, 12%);
	--grey: hsl(0, 0%, 20%);
	--white: hsl(0, 0%, 100%);
	--neon-green: hsl(75, 94%, 57%);
	--font-family: "Inter", sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}